body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(58, 72, 97);
}

.form-container {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  height: 90%;
  display: flex;
  align-items: center;
}

.form-container .login-container {
  width: 500px;
  margin: 0 auto;
}

.form-container .login-container > h2{
  text-align: center;
  font-size: 2.5rem;
}

.form-container .login-container > p,
.form-container .login-container > span {
  text-align: center;
  color: #555;
}

.form-container .login-container label {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}


.form-container .login-container input.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.form-container .login-container input.input:focus {
  outline: solid 2px rgb(0, 153, 255);
}

.form-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container .login-container .providers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 30px;
}

.btn {
  border: none;
  padding: 15px 0;
  width: 100%;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn.btn-login {
  background-color: black;
  color: white;
}

.btn.btn-login:hover {
  background-color: #333;
}

.btn.btn-facebook {
  background-color: rgb(10, 82, 216);
  color: white;
}

.btn.btn-facebook:hover {
  background-color: rgb(13, 61, 150);
}

.btn.btn-google {
  background-color: white;
  color: black;
  border: solid 1px #ccc;
}

.btn.btn-google:hover {
  background-color: rgb(247, 243, 243);
}

.btn.btn-twitter {
  background-color: rgb(10, 168, 216);
  color: white;
}

.btn.btn-twitter:hover {
  background-color: rgb(8, 145, 187);
}

.form-container .welcome-screen-container {
  background-color: black;
  width: 50%;
  height: 100%;
}

.form-container .welcome-screen-container img {
  width:100%;
  height:100%;
}

@media screen and (max-width: 1357px) {
  .form-container {
    width: 95%;
  }

  .form-container .login-container {
    width: 400px;
    margin: 0 auto;
  }

  .form-container .welcome-screen-container {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-image: url("https://www.cerner.com/-/media/cerner-media-united-states/blog-images/blog_care-costs-of-nursing-care.jpg?vs=1&h=1080&w=1920&la=en&hash=AEC2734167E70A43DF7E76B0E9EA30DA");
  }

  .form-container {
    height: 80vh;
  }

  .form-container .login-container {
    width: 350px;
  }

  .form-container .welcome-screen-container {
    display: none;
  }
}